annotated-types==0.7.0
attrs==25.3.0
certifi==2025.4.26
click==8.0.4
h11==0.16.0
idna==3.10
iniconfig==2.1.0
outcome==1.3.0.post0
packaging==25.0
pluggy==1.5.0
pydantic==2.11.4
pydantic_core==2.33.2
PySocks==1.7.1
pytest==8.3.5
python-dateutil==2.9.0.post0
selenium==4.31.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
testit-api-client==6.0.1.post530
testit-cli==2.4.5.post530
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
validators==0.34.0
websocket-client==1.8.0
wsproto==1.2.0
